# 数据库基础配置
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=***
DB_NAME=***
DB_CHARSET=utf8mb4

# 避险配置，每次抓取总时间区间 (单位: 秒)
SESSION_LIFESPAN_MIN=1500
SESSION_LIFESPAN_MAX=1600

# 避险配置，每抓取一页后休眠时间区间 (单位: 秒)
ITEM_SLEEP_MIN=2
ITEM_SLEEP_MAX=6